<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HighTech | Todos podem</title>
    <link rel="shortcut icon" href="../img/logoGuia.png" type="image/x-icon">    
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/cssQuemSomos.css">
    
</head>
<body>
    <header>
        <a href="../../index.html"><img src="../img/logo.png" class="logo"></a>
    
        <nav class="nav-header">
            <ul>
                <li class="dropdown dropbtn">
                    
                    <div class="fitnessNav">Pesquisas</div>
                    <div class="dropdown-content">
                        <a href="desenhoUniversal.html">• Desenho Universal </a>
                        <a href="deficiencia.html">• Deficiência</a>
                        <a href="inclusao.html">• Inclusão </a>
                        <a href="acessibilidade.html">• Acessibilidade</a>
                        <a href="estudoDeViabilidade.html">• Estudo Viabi.</a>
                    </div>
                </li>
                <li id="menu-margem"><a href="quemsomos.html">Quem somos</a></li>
            </ul>
        </nav>
    </header>
    <div class="faixa"></div>
    <main>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        
        
          <!-- BRENDA -->
        <a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
          <div class="card">
            <div class="wrapper">
              <img src="https://ggayane.github.io/css-experiments/cards/force_mage-cover.jpg" class="cover-image" />
            </div>
            <img src="https://ggayane.github.io/css-experiments/cards/force_mage-title.png" class="title" />
            <img src="https://ggayane.github.io/css-experiments/cards/force_mage-character.webp" class="character" />
          </div>
        </a>

        <!-- GISELE: -->
        <a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
          <div class="card">
            <div class="wrapper">
              <img src="../img/giseleQuemSomos2.png" class="cover-image" />
            </div>
            <img src="https://ggayane.github.io/css-experiments/cards/force_mage-title.png" class="title" />
            <img src="../img/giseleQuemSomos3.png" class="character" />
          </div>
        </a>

          <!-- MATHEUS -->
          <a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
            <div class="card">
              <div class="wrapper">
                <img src="https://ggayane.github.io/css-experiments/cards/force_mage-cover.jpg" class="cover-image" />
              </div>
              <img src="https://ggayane.github.io/css-experiments/cards/force_mage-title.png" class="title" />
              <img src="https://ggayane.github.io/css-experiments/cards/force_mage-character.webp" class="character" />
            </div>
          </a>
        
          <!-- MIGUEL -->
          <a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
            <div class="card">
              <div class="wrapper">
                <img src="https://ggayane.github.io/css-experiments/cards/force_mage-cover.jpg" class="cover-image" />
              </div>
              <img src="https://ggayane.github.io/css-experiments/cards/force_mage-title.png" class="title" />
              <img src="https://ggayane.github.io/css-experiments/cards/force_mage-character.webp" class="character" />
            </div>
          </a>

          <!-- PEDRO -->
          <a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
            <div class="card">
              <div class="wrapper">
                <img src="https://ggayane.github.io/css-experiments/cards/force_mage-cover.jpg" class="cover-image" />
              </div>
              <img src="https://ggayane.github.io/css-experiments/cards/force_mage-title.png" class="title" />
              <img src="https://ggayane.github.io/css-experiments/cards/force_mage-character.webp" class="character" />
            </div>
          </a>
        
        
          
    </main>
    <footer>
        <p> Todos os direitos reservados a HighTech ©</p>
    </footer>

    <section class="arrobasInstas">
       <center><div> 
            <a href="https://www.instagram.com/d.artres/">@d.artres</a>, 
            <a href="https://www.instagram.com/gisele_araujoof/">@gisele_araujoof</a>, 
            <a href="https://www.instagram.com/miguel_marcondes_loureiro/">@miguel_marcondes_loureiro</a>, 
            <a href="https://www.instagram.com/matheussantosdri/">@matheussantosdri</a>, 
            <a href="https://www.instagram.com/sf_pedroh/">@sf_pedroh</a>
        </div></center> 
    </section>

</body>
</html>